<main class="form-signin">
  <div class="form-wrapper">
    <h1 class="h3">Register</h1>

    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="form-floating">
        <input
          type="email"
          name="email"
          class="form-control"
          id="floatingInput"
          placeholder="Email"
          formControlName="email"
        />
        <ng-container *ngIf="form.get('email')?.touched">
          <p class="error" *ngIf="form.get('email')?.errors?.['required']">
            Email is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('email')?.errors?.['emailValidator']"
          >
            Email is not valid!
          </p>
        </ng-container>
      </div>


      <ng-container formGroupName="passGroup">
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            name="password"
            id="floatingPassword"
            placeholder="Password"
            formControlName="password"
          />
        </div>
  
        <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
          <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">
            Password is required!
          </p>
          <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']">
            Password must be at least 5 characters!
          </p>
        </ng-container>
  
        <div class="form-floating">
          <input
            type="password"
            name="rePassword"
            class="form-control"
            id="floating-re-Password"
            placeholder="Confirm password"
            formControlName="rePassword"
          />
        </div>
  
        <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
          <p class="error" *ngIf="form.get('passGroup')?.get('rePassword')?.errors?.['required'] || form.get('passGroup')?.errors?.['matchPasswordsValidator']">
           Password missmatch!
          </p>
        </ng-container>
      </ng-container>

      
      <button
        [disabled]="form.invalid"
        [style]="{ backgroundColor: form.invalid ? 'red' : '' }"
        class="register-btn"
        type="submit"
      >
        Sign up
      </button>

      <p class="registered-user-msg">
        Already registered?
        <a routerLink="/login">Sign In</a>
      </p>
    </form>
  </div>
</main>
