<main class="form-signin">
    <div class="form-wrapper">
      <h1 class="h3">Register</h1>
  
      <form action="">
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="Email"
            required
          />
  
          <p class="error">
              Email is required!
          </p>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            required
          />
        </div>
  
        <p class="error">
          Password is required!
      </p>

      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floating-re-Password"
          placeholder="Confirm password"
          required
        />
      </div>

      <p class="error">
        Password doesn't match!
    </p>
        <button class="login-btn" type="submit">Sign up</button>

        <p class="registered-user-msg">
            Already registered?
            <a routerLink="/login">Sign In</a>
        </p>
      </form>
    </div>
  </main>