<main class="form-signin">
  <div class="form-wrapper">
    <h1 class="h3">Login</h1>

    <form action="">
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="Email"
          required
        />

        <p class="error">
            Email is required!
        </p>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          required
        />
      </div>

      <p class="error">
        Password is required!
    </p>
      <button class="login-btn" type="submit">Sign in</button>
      <p class="not-registered-user-msg">
        Still not registered?
        <a routerLink="/register">Sign up</a>
    </p>
    </form>
  </div>
</main>
