<section class="section">
    <div class="movie-container">
        <h3 class="movie-name">{{movieName}}</h3>
        <hr>
        <div class="movie-details">
            <img src="{{imageUrl}}" class="movie-card-img" alt="">
            <p class="movie-genre">Genre: {{genre}}</p>
            <p class="movie-year">Year: {{year}}</p>
            <p class="movie-desc">Description: {{description}}</p>

        </div>
        <div class="buttons">
            <button class="edit-btn"><a routerLink="/movie/edit/{{param}}">Edit</a></button>
            <button class="delete-btn" [disabled]="!authService.isLoggedIn"><a (click)="deleteMovie()" routerLink="/movie/delete/{{param}}">Delete</a></button>
        </div>
        
    </div>
</section>
