<section class="section">
    <div class="movie-container">
        <h3 class="movie-name">Cars2</h3>
        <hr>
        <div class="movie-details">
            <img src="https://upload.wikimedia.org/wikipedia/en/7/7f/Cars_2_Poster.jpg" class="movie-card-img" alt="">
            <p class="movie-genre">Genre: </p>
            <p class="movie-year">Year: </p>
            <p class="movie-desc">Description: WGIJGAIGHAGIAOGHNIAGIAHGHAGIHAIGHAGIAGAGHAGGWAGAWGWAGAWGAWGWAGWAGAWGAWGgwagwagawgwagawagagaawhgwagagagwagwageagagageaagagageagegeagaeggeagea</p>

        </div>
        <div class="buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
        </div>
        
    </div>
</section>
