<footer>
    <div class="wrapper">
        <div class="icon facebook">
            <div class="media-name">Facebook</div>
            <span>
                <fa-icon [icon]="facebook"></fa-icon>
            </span>
        </div>
        <div class="icon instagram">
            <div class="media-name">Instagram</div>
            <span>
                <fa-icon [icon]="instagram"></fa-icon>
            </span>
        </div>
        <div class="icon x">
            <div class="media-name">X/Twitter</div>
            <span>
                <fa-icon [icon]="xTwitter"></fa-icon>
            </span>
        </div>
        <div class="icon tiktok">
            <div class="media-name">TikTok</div>
            <span>
                <fa-icon [icon]="tiktok"></fa-icon>
            </span>
        </div>
    </div>
</footer>
