<header>
  <div class="header">
    <h1>MovieHub</h1>

    <nav class="nav-bar">
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a>Add movie</a>
        </li>
        <li>
            <a>About</a>
        </li>
        <li>
            <a routerLink="/login">Login</a>
        </li>
        <li>
            <a routerLink="/register">Register</a>
        </li>
        <li>
            <a>Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
