<h1>MovieHub</h1>

<h2 class="movie-list">Movie list</h2>

<div class="movie-container">

    <div class="movie-card" *ngFor="let movie of movies">
        <img src="{{movie.imageUrl}}" class="movie-card-img" alt="">
        <div class="movie-card-body">
            <h3 class="movie-card-title">{{movie.name}}</h3>
            <p class="movie-card-genre">Genre: <span class="genre">{{movie.genre}}</span></p>
            <p class="movie-card-year">Year: <span class="year">{{movie.year}}</span></p>
            <p class="movie-card-desc">{{movie.description}}</p>
            <button class="details-btn">Details</button>
        </div>
    </div>
</div>